@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-form {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500;
  }
  .input-search {
    @apply w-full shadow-sm bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-xl focus:ring-emerald-500 focus:border-emerald-500 block p-2.5 pl-10 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500;
  }
  .btn-primary {
    @apply w-full px-5 py-2 text-base font-medium text-center text-white rounded-lg bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:ring-emerald-300 dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800;
  }
  .btn-secondary {
    @apply px-5 py-2 text-base font-medium text-center text-white rounded-lg hover:bg-emerald-700 focus:ring-4 focus:ring-emerald-300 dark:border-emerald-700 dark:border-2 dark:focus:ring-emerald-800 dark:hover:bg-emerald-700;
  }
}
